extends layout

block content
  header
    h1= 'Confesiones de la Vida'
  main
    a(href=`http://localhost:${process.env.PORT || 3000}/new` class='btn')= "Confiésate!"
    each message in messages 
      section.message-card 
        h2= message.title
        p.description= message.text
        footer 
          p.username= message.user
          p.date= message.date